* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1980px;
  margin: 0 auto;
}
.scroll-top {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 16px;
  width: 64px;
  height: 64px;
  border: none;
  background: rgba(89, 189, 91, 0.651);
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
.scroll-top:hover {
  background: rgb(89, 189, 91);
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 107px;
}
.header {
  position: relative;
}

.header__top {
  padding: 20px 8px;
  min-height: 72px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header__basket-icon {
  display: none;
}
.header__authorization {
  display: flex;
  align-items: center;
}
.header__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #1d1d1d;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  padding: 13px;
  flex: 1 0 40px;
}
.header__link:nth-child(2) {
  background: #262626;
  color: #ffffff;
  margin-left: 12px;
}
.header__link:hover {
  background: #262626;
  color: #ffffff;
}
.header__serch {
  position: relative;
  margin: 40px 8px;
}
.serch__input {
  outline: none;
  background: none;
  border: none;
  padding: 10px 10px 10px 32px;
  border-bottom: 1px solid #75757591;
  width: 100%;
}

.serch__icon {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.serch__input::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
}
.serch__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
}

.header__when--to {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 24px 8px;
}
.header__when--to__when {
  flex: 0 1 65px;
  margin-right: 16px;
}
.header__when--to__to {
  flex: 0 1 227px;
}
.when__select {
  width: 100%;
  min-height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: none;
  padding: 5px;
  text-align: center;
  color: #1d1d1d;
  font-size: 13px;
  line-height: 24px;
}
.when--to__title {
  color: #626262;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 8px;
}
.to__input {
  min-height: 40px;
  width: 100%;
  background: none;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  color: #1d1d1d;
  font-size: 13px;
  line-height: 24px;
  padding-left: 35px;
  padding-right: 10px;
  cursor: pointer;
}
.to__form {
  position: relative;
}
.to__icon {
  position: absolute;
  top: 11px;
  left: 15px;
  cursor: pointer;
}
.content {
  margin: 40px 8px;
  display: flex;
  flex-direction: column;
}
.content__title {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  margin-left: 8px;
}
.content__card {
  flex: 1 1 356px;
  display: flex;
  flex-direction: column;
  height: 366px;
  margin-bottom: 36px;
}
.card__title {
  font-style: normal;
  font-weight: normal;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

.card__img--macdonalds {
  height: 86%;
  background: url(../img/macdonalds.jpg);
  background-size: cover;
}
.card__img--DimSum {
  height: 86%;
  background: url(../img/dimSum.jpg);
  background-size: cover;
}
.card__img--dvijok {
  height: 86%;
  background: url(../img/dvijock.jpg);
  background-size: cover;
}
.card__img--nja {
  height: 86%;
  background: url(../img/nja.jpg);
  background-size: cover;
}
.card__img--tochka {
  height: 86%;
  background: url(../img/tochkadzi.jpg);
  background-size: cover;
}
.card__img--cinnabon {
  height: 86%;
  background: url(../img/cinnabon.jpg);
  background-size: cover;
}
.card__img--pizzelove {
  height: 86%;
  background: url(../img/pizzelove.jpg);
  background-size: cover;
}
.card__img--zu {
  height: 86%;
  background: url(../img/zu.jpg);
  background-size: cover;
}
.card__img--barbq {
  height: 86%;
  background: url(../img/bqcafe.jpg);
  background-size: cover;
}

.card__category {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin-top: 14px 0;
}
.card__time {
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin-bottom: 32px;
}

.footer {
  margin-top: 68px;
  background: #262626;
}
.footer__content {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}
.logo-bottom {
  width: 192px;
}
.footer__top {
  padding: 56px 0 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__form {
  position: relative;
  margin: 32px 0;
}

.footer__select {
  width: 173px;
  height: 40px;
  background: #3b3b3b;
  border-radius: 2px;
  border-color: transparent;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  padding-left: 48px;
  cursor: pointer;
}
.footer__form::before {
  content: "";
  position: absolute;
  left: 150px;
  top: 11px;
  width: 8px;
  height: 8px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-135deg);
}
.footer__form__icon {
  position: absolute;
  top: 11px;
  left: 16px;
}
.midle__social__title {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 16px;
}
.social_hash {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #49a144;
}
.social__icon {
  width: 24px;
}
.footer__midle__social {
  margin-bottom: 39px;
}
.midle__nav {
  list-style: none;
  padding-left: 0;
  padding-bottom: 40px;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 23px;
}

.nav__link:hover,
.footer__bottom__information-link:hover {
  color: #c5d6bf;
}
.footer__midle__store {
  padding: 24px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.store__app--store {
  width: 107px;
}
.store__google--play {
  width: 124px;
}

.footer__bottom {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.footer__bottom__information-link {
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin-top: 24px;
}
@media (min-width: 700px) {
  .header__when--to {
    position: absolute;
    top: 16px;
    left: 136px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0;
  }
  .when--to__title {
    display: none;
    margin-right: 10px;
    margin-top: 11px;
  }
  .header__when--to__to {
    display: flex;
    align-items: center;
    margin-left: -8px;
  }
  .to__title {
    display: block;
  }
  .header__basket-icon {
    display: block;
    margin-left: 27px;
    margin-right: 16px;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 0;
  }
  .content__card {
    flex: 0 0 49%;
  }

  .content__title {
    margin-bottom: 16px;
  }
  .footer_midle {
    display: flex;
  }
  .footer__midle__social-wrapper {
    flex: 0 1 10%;
  }
  .footer__midle__nav {
    flex: 1 1 auto;
  }
  .midle__nav {
    border: none;
  }
  .footer__midle__nav {
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
  }
  .footer__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .footer__bottom__information,
  .footer__bottom__information-link {
    flex: 1 1 auto;
    margin: 0;
  }
  .footer__midle__store {
    justify-content: center;
  }
  .app--store__link {
    margin-right: 40px;
  }
}

@media (min-width: 900px) {
  body {
    background: #ffffff;
  }
  .content__card {
    flex: 0 0 32%;
  }
  .content__card:hover {
    background: #7575751a;
    cursor: pointer;
  }
  .card__img:hover {
    transform: translateY(-4px);
  }
  .card__img {
    transition: transform 0.3s ease-out 0s;
    border-radius: 4px;
  }

  .content,
  .content__title,
  .header__serch,
  .header__wrapper,
  .footer__content {
    margin: 0 auto;
    max-width: 1238px;
    padding-left: 37px;
    padding-right: 37px;
  }
  .content__title {
    margin-bottom: 16px;
  }
  .header__serch {
    margin-top: 40px;
    margin-bottom: 36px;
  }
  .when--to__title {
    font-size: 16px;
    text-transform: lowercase;
  }
  .serch__input {
    font-size: 16px;
  }

  .header__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    flex: 1 1 50%;
  }

  .header__when--to {
    left: 27%;
  }
  .serch__icon {
    left: 37px;
  }
}
